includes:
	- ../../vendor/phpstan/phpstan-symfony/extension.neon
	- ../../vendor/phpstan/phpstan-doctrine/extension.neon
	- ../../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../../vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	checkGenericClassInNonGenericObjectType: false
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	universalObjectCratesClasses:
		- Symfony\Component\Validator\Constraint
		- DOMText
		- DOMNode
